# OpenStack openrc file with Env Vars
export OS_PROJECT_DOMAIN_NAME={{ env_os_project_domain_name }}
export OS_USER_DOMAIN_NAME={{ env_os_user_domain_name }}
export OS_PROJECT_NAME={{ env_os_project_name }}
export OS_USERNAME={{ env_os_username }}
export OS_PASSWORD={{ env_os_password }}
export OS_AUTH_URL={{ env_os_auth_url }}
export OS_IDENTITY_API_VERSION={{ env_os_identity_api_version }}
export OS_IMAGE_API_VERSION={{ env_os_image_api_version }}
